#circle-wrapper {
    border-radius: 50%;
    height: 45vw;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 780px) {
    #circle-wrapper {
        height: 20vw;
        width: 20vw;
    }
}
