body {
    background-color: #61affd;
    font-family: 'Fira Sans', sans-serif;
}

#scores {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: center;
    grid-gap: 50px;
}